extends base

block content
    main.main
        .search-container.ma-bt-md
            form.form-search
                .form-search-str
                    span.form-search-btn
                        svg
                            use(xlink:href="/img/sprite.svg#icon-magnifying-glass")
                    input.form-search-input(type="text", placeholder="Search products")
                select.form-search-categories
                    option Choose product category
        .card-container
            each product in products
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`${product.imageCover}`, alt=`${product.name}`)
                        h3.heading-tertirary
                            span= product.name

                    .card__details
                        h4.card__sub-heading #{product.category.name}
                        p.card__text= `${product.description.slice(0, 60)}...`
                        if (product.discount)
                            .card__data
                                svg.card__icon
                                    use(xlink:href='/img/sprite.svg#icon-leaf')
                                span= `${product.discount}% discount`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/sprite.svg#icon-leaf')
                            span= `${product.createdAt.toLocaleDateString('en-US', {month: 'long', year: 'numeric'})}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/sprite.svg#icon-leaf')
                            span #{product.quantity} in stocks
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/sprite.svg#icon-leaf')
                            span #{product.soldQuantity} products sold

                    .card__footer
                        p
                            span.card__footer-value $#{product.price} 
                            svg.card__footer-icon
                                use(xlink:href='/img/sprite.svg#icon-price-tag')
                        p.card__ratings
                            span.card__footer-value #{product.avgRatings} 
                            span.card__footer-text stars / #{product.numberOfRatings}
                        a.btn.btn--dark-pink.btn--small(href=`/products/${product.slug}`) Details